<div>
    <input [(ngModel)]="name" type="text" class="form-control serach" id="usr" name='name'
        placeholder="Please Enter Your Customer..." (input)="onSearchChange($event.target.value)">
    <i class="fa fa-times cross-icon" aria-hidden="true" *ngIf='name' (click)='name="";onSearchChange("")'></i>
</div>