.customer{
    width: 13%;
    display: inline-table;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
    border:1px solid lightgray;
}

.customer-name{
    background: paleturquoise;
    padding-left: 5px;
    position: relative;
    min-height: 28px;
}

.env{
    padding-left: 5px;
    height: 90px;
        width: 13vw;
}

.three{
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
    float: left;
    width:50%;
    cursor: pointer;
    text-decoration: underline; 
}

.mr-bottom-10{
    margin-bottom:10px;
     background: darkseagreen;
    padding-top: 10px;
}

.title{
    color: white;
}

.dot {
    height: 22px;
    width: 22px;
    border:1px solid  red;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 2px;
  }

  .p1{
    position: relative;
    color:red;
    font-size: 13px;
    left: 7px;
    bottom: 3px;
}
  
.name{
    font-size: 14px;
    font-weight: bold;
}

.visibility-none{
    visibility: hidden;
}

.loading-screen-wrapper {
    z-index: 100000;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .loading-screen-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }