<!-- <div class="loading-screen-wrapper">
        <div class="loading-screen-icon">
                <img src="assets/loader.svg" alt="image">
        </div>
      </div> -->


<header class='mr-bottom-10 row'>
    <app-sub-header class='mr-bottom-10 col-sm-4' (nameSearched)="nameSearched($event)"></app-sub-header>

    <h1 class='text-center title col-sm-4'>{{ 'lufhansaTitle' | translate }}
        <i class="fa fa-plane" aria-hidden="true"></i>
    </h1>
    <div class='col-sm-4'></div>

</header>

<body>
    <div class='text-center'>
        <div *ngFor="let customer of customerData | search: searchName; let i = index" class='customer'>
            <div class='customer-name text-left'>
                <span class='name '>{{customer.Key}} </span>
                <span class="dot" *ngIf='i<2'>
                    <span class='p1'>{{ 'p' | translate }}</span></span>
            </div>
            <div class='env text-left '>
                <div class='three ' *ngFor="let env of customer.value">
                    {{env.env_name}}

                </div>
            </div>
        </div>
    </div>
</body>