.container {
    /* float: left; */
    width: 350px;
    height: 350px;
    background-color: #262626;
    text-align: left;
    display: inline-block;
    margin: 10px;
}

p {
    padding-left: 10px;
}

.inner-wrapper {
    text-align: center;
    /* display: inline-block; */
}