

<div class="wrapper">
    <div class="inner-wrapper">
      <div class="container" *ngFor="let data of DATA">
        <p style="color:white; font-weight: bold;">{{data.Key}}</p>
        <div class='env' id="{{data.Key}}" style="width:350px; height:300px;" ></div>
         <!-- <div class='envContainer' style='width:350px;height:300px;'>{{envInit()}}</div>  -->
      </div>
    </div>
  </div>
  <button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
<router-outlet></router-outlet>
